.body {
    background-color: #fff;
    display: inline;
}

.divHeader{
    display: block;
    align-items: center;
    background-color: #2c3e50;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    height: 50px;
    width: 100%;
    top: 0;
    position: absolute;
}

.clickUser {
    cursor: pointer;
    width: 90%;
    padding-left: 10px;
}
.icons{
    float: right;
    width: 10%;
}

.logo{
    padding-left: 10px;
    float: left;
    width: 10%;
}

.user{
    position: relative;
    top: 0px;
}

.imglogo{
    position: relative;
    top: 5px;
    right: -19px;
    width: 76px;
    height: 39px;
}

.login{
    float: right;
    align-items: center;
    color: #2c3e50;
    background-color: #fff;
    width: 2%;
    height: 26px;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    top: -38px;
    right: 50px;
}

ul{
    list-style: none;
}


.divList{
    margin-top: 60px;
    width: 100%;
}

.divUser{
    width: 100%;
    margin-bottom: 2px;
    align-items: center;
    text-align: left;
    padding-right: 0%;
    background-color: #fff;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.5);
    -moz-box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.5);
    box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.5);
}

.tableUsers{
    padding-top: 10px;
}

.listusers{
    background-color: rgb(233, 230, 230);
}

.thumbUser{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 13px;
}

.divFilters{
    margin-top: 46px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 50%;
    width: 20%;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
}

.textFilter{
    padding-left: 20px;
}

.ativo{
    color: #A5CD00;
}

.filter{
    margin-left: 2px;
    margin-right: 2px;
}

.pesquisa{
    width: 70%;    
    float: unset;
}

.input{
    width: 70%;
    padding-left: 30px;
    border-radius: 30px;
    border: 0;
    height: 30px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon{
    color: #A5CD00;
    left: 24px;
    position: relative;
}